In [1]:
import pandas as pd
import sqlite3 as dbase

In [13]:
conn = dbase.connect('coupon.lite')
cur = conn.cursor()

In [25]:
cur.execute("ALTER TABLE user_list DROP index")

OperationalError: near "DROP": syntax error

In [19]:
conn.rollback()

In [20]:
user_list = pd.read_sql("SELECT * FROM user_list", conn, parse_dates=['REG_DATE', 'WITHDRAW_DATE'])

In [21]:
user_list.head()

,index,REG_DATE,SEX_ID,AGE,WITHDRAW_DATE,PREF_NAME,USER_ID_hash
0,0,2012-03-28 14:14:18,f,25,NaT,,d9dca3cb44bab12ba313eaa681f663eb
1,1,2011-05-18 00:41:48,f,34,NaT,東京都,560574a339f1b25e57b0221e486907ed
2,2,2011-06-13 16:36:58,m,41,NaT,愛知県,e66ae91b978b3229f8fd858c80615b73
3,3,2012-02-08 12:56:15,m,25,NaT,,43fc18f32eafb05713ec02935e2c2825
4,4,2011-05-22 23:43:56,m,62,NaT,神奈川県,dc6df8aa860f8db0d710ce9d4839840f

In [6]:
user_gender = [1 if i == 'f' else 0 for i in user_list['SEX_ID']]

In [58]:
user_list['SEX_ID'] = user_gender

In [14]:
user_list.to_sql('user_list', conn, if_exists='replace', index = False)